.navigation {
  transition: .2s ease;

  &.nav-bg {
    background: $white;
    @extend .shadow;
    @include desktop {
      top: -50px;
    }
  }

  @include desktop {
    .form-inline {
      width: 100%;

      input {
        width: 100%;
      }
    }
  }
}

.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $primary-color;
  }
}

// .navbar-expand-lg .navbar-nav .nav-link {
//     padding: 0px;
//     margin: 0 15px;
//     font-size: 15px;
//     color: #999;
//     @include desktop {
//         // padding: 10px;
//         display: block;
//         margin: 0 10px;
//     }
// }

#select-language {
  border: 1px solid $border-color;
  background: transparent;
}
.navigation{
    .navbar{
        padding: 15px 0;
    }
    .navbar-expand-lg{
        .navbar-collapse{
            justify-content: flex-end;
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        padding: 0px;
                        margin: 0 12px;
                        font-size: 15px;
                        color: #999;
                        position: relative;
                        transition: all 0.3s ease-in-out;
                        &::before{
                            content: '';
                            position: absolute;
                            background: #5B13DF;
                            top: 50%;
                            width: 100%;
                            height: 2px;
                            margin-top: .675rem;
                            -webkit-transform: scaleX(0);
                            -ms-transform: scaleX(0);
                            transform: scaleX(0);
                            -webkit-transform-origin: left center;
                            -ms-transform-origin: left center;
                            transform-origin: left center;
                            -webkit-transition: all .35s ease;
                            -o-transition: all .35s ease;
                            transition: all .35s ease;
                        }
                        &:hover {
                            color:#5B13DF;
                            &::before{
                                transform: scaleX(1);
                            }
                        }
                        &.rownd-sign-up-btns{
                            background: #5B13DF;
                            color: white;
                            margin: 0;
                            padding: 10px 30px;
                            border-radius: 4px;
                            &::before{
                                content: unset;
                            }
                            &:hover{
                                box-shadow: 0 14px 26px -12px #5B13DF, 0 4px 23px 0px rgba(0,0,0, 0.12),0 8px 10px -5px rgba(243, 146,0,0.2);
                            }
                        }
                    }
                    &.dropdown{
                        .nav-link{
                            padding-right: 20px;
                            &::after{
                                position: absolute;
                                content: '';
                                border: solid #999;
                                border-width: 0 2px 2px 0;
                                padding: 3px;
                                transform: rotate(45deg);
                                top: 7px;
                                margin: 0 auto;
                                right: 0;
                                border-radius: 2px;
                                transition: all 0.3s ease-in-out;
                            }
                            &:hover {
                                color:#5B13DF;
                                &::before{
                                    content: unset;
                                }
                                &::after{
                                    border-color: #5B13DF;
                                }
                            }
                        }
                        .dropdown-menu{
                            border: none;
                            padding: 10px 0;
                            border-top: solid 2px #5B13DF;
                            border-radius: 0;
                            box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
                            min-width: 185px;
                            display: none;
                            .dropdown-item{
                                font-size: 14px;
                                padding: 10px 20px;
                                background: transparent;
                                color: #999;
                                transition: all 0.3s ease-in-out;
                                &:hover{
                                    color: black;
                                }
                            }
                        }
                        &.show{
                            &:hover{
                                .dropdown-menu{
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.nav-button {
  outline: none;
    border-color: #5B13DF;
    background-color: #5B13DF;
    color: #fff;
    transition: all 0.5s;

&:hover {
  color: #fff;
  background-color: #5B13DF!important;
  box-shadow: 0 14px 26px -12px #5B13DF, 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(243, 146, 0, 0.2) !important;
  opacity: 0.8;
}
}