.rownd-beta-getting-page-main{
  .container{
      .box{
          .sidebar{
              height: 100% !important;
              .section-box{
                  .section-header{
                      a{
                          color: #5a13df;
                          text-decoration: none !important;
                      }
                  }
                  ul{
                      li{
                          a{
                              color: #333333;
                              text-decoration: none !important;
                              margin-bottom: 5px;
                              display: inline-block;
                          }
                      }
                  }
              }
          }
          .non-sidebar{
              width: auto !important;
              margin-left: 260px;
              min-height: 750px;
              .main-content{
                  .section {
                      padding-top: 0;
                      padding-bottom: 0;
                  }
                  code{
                      padding: 10px 10px;
                  }
                  .model{
                      a{
                          color: #5a13df;
                          text-decoration: none !important;
                          font-weight: bold;
                          font-size: 15px;
                      }
                  }
              }
          }
      }
  }
}
footer{
  background: white;
  position: relative;
  z-index: 1;
  ul{
      li{
          &.list-inline-item{
              a{
                  color: #333;
                  transition: .2s ease;
                  text-decoration: none !important;
                  &:hover{
                      color: #4504ad;
                  }
                  i{
                      color: white;
                  }
              }
          }
      }
  }
}
.sticky-top{
  right: 0;
  left: 0;
  position: fixed !important;
  &.navigation{
      form{
          margin: 0 !important;
          .form-control{
              box-shadow: none !important;
              border: 1px solid #4504ad;
              padding: 0 15px;
          }
      }
      .nav-button{
          outline: none;
          border-color: #5B13DF;
          background-color: #5B13DF;
          color: #fff;
          transition: all 0.3s ease-in-out;
          background-image: none;
          font-size: 14px;
          padding: 10px 25px;
      }
      .navbar{
          margin-bottom: 0;
      }
      .collapse{
          overflow: visible;
      }
  }
  &.nav-bg{
      animation: smoothScroll 0.5s forwards;
      @keyframes smoothScroll {
          0% {
              transform: translateY(-80px);
          }
          100% {
              transform: translateY(0px);
          }
      }
  }
}