
{{ define "main" }}
<section class="section">
    <div class="container"></div>

	<script type="text/javascript">
		var script = document.createElement("script");
		script.src="https://www.apimatic.io/api/api-entities/C33WHyJGzkLHAuBpnSbX4nKEJwr-en05uimj5Cw4SMazeWl3KgMX0tv4JwdY6htx/published-artifacts/portal-script";
		script.onload = function() {
			APIMaticDevPortal.show({
				container: "apimatic-widget",
				portalStyle: "default",
				codegenApiRoutes: {
					docsgen: '/api/api-entities/C33WHyJGzkLHAuBpnSbX4nKEJwr-en05uimj5Cw4SMazeWl3KgMX0tv4JwdY6htx/published-artifacts/docs-generations/generated-file?template={template}',
					codegen: '/api/api-entities/C33WHyJGzkLHAuBpnSbX4nKEJwr-en05uimj5Cw4SMazeWl3KgMX0tv4JwdY6htx/published-artifacts/code-generations/generated-file?template={template}',
					transform: '/api/api-entities/C33WHyJGzkLHAuBpnSbX4nKEJwr-en05uimj5Cw4SMazeWl3KgMX0tv4JwdY6htx/published-artifacts/transformations/generated-file?format={format}'
				},
	
				apiKey: "C33WHyJGzkLHAuBpnSbX4nKEJwr-en05uimj5Cw4SMazeWl3KgMX0tv4JwdY6htx",
				baseUrl: "https://www.apimatic.io",
				enableExport: true,
				renameHttpToRest: true,
				enableConsoleCalls: true,
				useProxyForConsoleCalls: true,
				initialPlatform: "http_curl_v1",
				languageSettings: {
				  "http_curl_v1": {
						disableSdkDownload: false,
						sdkDownloadLink:""
				   }
				  ,
				  "objc_cocoa_touch_ios_lib": {
						disableSdkDownload: false,
						sdkDownloadLink:""
				   }
				  ,
				  "java_eclipse_jre_lib": {
						disableSdkDownload: false,
						sdkDownloadLink:""
				   }
				  ,
				  "php_generic_lib": {
						disableSdkDownload: false,
						sdkDownloadLink:""
				   }
				  ,
				  "ruby_generic_lib": {
						disableSdkDownload: false,
						sdkDownloadLink:""
				   }
				  ,
				  "node_javascript_lib": {
						disableSdkDownload: false,
						sdkDownloadLink:"https://www.npmjs.com/package/rownd-sdk"
				   }
				  ,
				  "go_generic_lib": {
						disableSdkDownload: false,
						sdkDownloadLink:""
				   }
				  ,
				  "java_gradle_android_lib": {
						disableSdkDownload: false,
						sdkDownloadLink:""
				   }
				  ,
				  "python_generic_lib": {
						disableSdkDownload: false,
						sdkDownloadLink:""
				   }
				  ,
				  "angular_javascript_lib": {
						disableSdkDownload: false,
						sdkDownloadLink:""
				   }
				  
				},
				themeOverrides: {
					themeType: "cool",
					palette: {
						primaryColor:"#7518f2"
					},
					fontSources: [
					],
				 cssStyles: {
						headings: {
							fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
							h1: {
								fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
								fontSize: "24px",
								fontWeight: "600",
								fontStyle: "normal",
								lineHeight: "0.9"
							},
							h2: {
								fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
								fontSize: "23px",
								fontWeight: "600",
								fontStyle: "normal",
								lineHeight: "0.82"
							},
							h3: {
								fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
								fontSize: "19px",
								fontWeight: "600",
								fontStyle: "normal",
								lineHeight: "1"
							},
							h4: {
								fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
								fontSize: "17px",
								fontWeight: "600",
								fontStyle: "normal",
								lineHeight: "1.17"
							},
							h5: {
								fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
								fontSize: "15",
								fontWeight: "600",
								fontStyle: "normal",
								lineHeight: "1.26"
							},
							h6: {
								fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
								fontSize: "14px",
								fontWeight: "600",
								fontStyle: "normal",
								lineHeight: "1.35"
							}
						},
						body: {
							fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
							text1: {
								fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
								fontSize: "14px",
								fontWeight: "400",
								fontStyle: "normal",
								lineHeight: "1.78"
							},
							text2: {
								fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
								fontSize: "13px",
								fontWeight: "400",
								fontStyle: "normal",
								lineHeight: "1.5"
							},
							text3: {
								fontFamily: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue, Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
								fontSize: "12px",
								fontWeight: "400",
								fontStyle: "normal",
								lineHeight: "1.66"
							}
						},
						code: {
							fontFamily: "'SFMono-400', Consolas, 'Liberation Mono', Menlo, Courier",
							blockCode: {
								fontFamily: "'SFMono-400', Consolas, 'Liberation Mono', Menlo, Courier",
								fontSize: "14px",
								fontWeight: "400",
								fontStyle: "normal",
								lineHeight: "1.66"
							},
							inlineCode: {
								fontFamily: "'SFMono-400', Consolas, 'Liberation Mono', Menlo, Courier",
								fontSize: "14px",
								fontWeight: "400",
								fontStyle: "normal",
								lineHeight: "1.66"
							}
						}
					}
				}
			});
		};
		document.getElementsByTagName("head")[0].appendChild(script);
	</script>
	<div id="apimatic-widget" style="height: 100%; width: 100%;"></div>
</div>
</section>

{{ end }}