
<h2>Body</h2>
<ul class="parameter">
  <li class="param-required-false">additionalMetadata : String
    <br/>Additional data to pass to server
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">file : byte[]
    <br/>file to upload
  </li>
</ul>
