{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="p-5 shadow rounded content">
          <h2 class="section-title">{{ .Title }}</h2>
          <!-- <form method="POST" action="{{ .Site.Params.contact_form_action }}">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="fname">{{ i18n "first_name" }}</label>
                <input type="text" class="form-control" id="fname" name="fname" placeholder="Your First Name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="lname">{{ i18n "last_name" }}</label>
                <input type="text" class="form-control" id="lname" name="lname" placeholder="Your Last Name">
              </div>
            </div>
            <div class="form-group">
              <label for="email">{{ i18n "email" }}</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Address" required>
            </div>
            <div class="form-group">
              <label for="reason">{{ i18n "contact_reason" }}</label>
              <select id="reason" class="form-control custom-select" name="reason" required>
                <option selected disabled>Choose Your Reason</option>
                <option value="business">Business</option>
                <option value="ticket">Ticket</option>
                <option value="project">Project</option>
              </select>
            </div>
            <div class="form-group">
              <label for="message">{{ i18n "write_message" }}</label>
              <textarea name="message" id="message" class="form-control" placeholder="Your Text here ..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">{{ i18n "send" }}</button>
          </form> -->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "4989551",
            formId: "7b0b5d06-acf5-4ffd-a842-0253053caec8"
          });
          </script>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}