<div class="main-content">
  <h2><a name=""></a></h2>
  <p>This is the  API</p>

  <h2><a name="addPet"></a>addPet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>https://petstore.swagger.io/v2/pet</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">body</span>
      <span class="param-type">Pet(Pet)</span>
      
      <p class="param-description">Pet object that needs to be added to the store</p>
	  </li>
  </ul>
  <h2><a name="deletePet"></a>deletePet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>https://petstore.swagger.io/v2/pet/{petId}</code>
  <h3 class="section">HTTP Method</h3>
  <code>DELETE</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">petId</span>
      <span class="param-type">Long</span>
      
      <p class="param-description">Pet id to delete</p>
	  </li>
	  <li class="parameter">
      
      
      
      <span class="param-in">Header: </span>
      
      <span class="param-name">api_key</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="findPetsByStatus"></a>findPetsByStatus</h2>
  <hr>
  <p></p>
  <p>Multiple status values can be provided with comma separated strings</p>
  <h3 class="section">URL</h3>
  <code>https://petstore.swagger.io/v2/pet/findByStatus</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="Pet"><a href="">List</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">status</span>
      <span class="param-type">List(String)</span>
      
      <p class="param-description">Status values that need to be considered for filter</p>
	  </li>
  </ul>
  <h2><a name="findPetsByTags"></a>findPetsByTags</h2>
  <hr>
  <p></p>
  <p>Multiple tags can be provided with comma separated strings. Use tag1, tag2, tag3 for testing.</p>
  <h3 class="section">URL</h3>
  <code>https://petstore.swagger.io/v2/pet/findByTags</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="Pet"><a href="">List</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      <span class="param-in">Query: </span>
      
      
      
      <span class="param-name">tags</span>
      <span class="param-type">List(String)</span>
      
      <p class="param-description">Tags to filter by</p>
	  </li>
  </ul>
  <h2><a name="getPetById"></a>getPetById</h2>
  <hr>
  <p></p>
  <p>Returns a single pet</p>
  <h3 class="section">URL</h3>
  <code>https://petstore.swagger.io/v2/pet/{petId}</code>
  <h3 class="section">HTTP Method</h3>
  <code>GET</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="Pet"><a href="">Pet</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">petId</span>
      <span class="param-type">Long</span>
      
      <p class="param-description">ID of pet to return</p>
	  </li>
  </ul>
  <h2><a name="updatePet"></a>updatePet</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>https://petstore.swagger.io/v2/pet</code>
  <h3 class="section">HTTP Method</h3>
  <code>PUT</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      
      
      <span class="param-in">Body: </span>
      <span class="param-name">body</span>
      <span class="param-type">Pet(Pet)</span>
      
      <p class="param-description">Pet object that needs to be added to the store</p>
	  </li>
  </ul>
  <h2><a name="updatePetWithForm"></a>updatePetWithForm</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>https://petstore.swagger.io/v2/pet/{petId}</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model=""><a href=""></a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">petId</span>
      <span class="param-type">Long</span>
      
      <p class="param-description">ID of pet that needs to be updated</p>
	  </li>
	  <li class="parameter">
      <span class="param-in">Form: </span>
      
      
      
      
      <span class="param-name">name</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      <span class="param-in">Form: </span>
      
      
      
      
      <span class="param-name">status</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
  <h2><a name="uploadFile"></a>uploadFile</h2>
  <hr>
  <p></p>
  
  <h3 class="section">URL</h3>
  <code>https://petstore.swagger.io/v2/pet/{petId}/uploadImage</code>
  <h3 class="section">HTTP Method</h3>
  <code>POST</code>
  <h3 class="section">Response Type</h3>
  <div class="model" data-model="ApiResponse"><a href="">ApiResponse</a></div>
  <h3 class="section">Parameters</h3>
  <ul>
	  <li class="parameter">
      
      
      <span class="param-in">Path: </span>
      
      
      <span class="param-name">petId</span>
      <span class="param-type">Long</span>
      
      <p class="param-description">ID of pet to update</p>
	  </li>
	  <li class="parameter">
      <span class="param-in">Form: </span>
      
      
      
      
      <span class="param-name">additionalMetadata</span>
      <span class="param-type">String</span>
      
      <p class="param-description"></p>
	  </li>
	  <li class="parameter">
      <span class="param-in">Form: </span>
      
      
      
      
      <span class="param-name">file</span>
      <span class="param-type">byte[]</span>
      
      <p class="param-description"></p>
	  </li>
  </ul>
</div>
