
<h2>Body_1</h2>
<ul class="parameter">
  <li class="param-required-false">name : String
    <br/>Updated name of the pet
  </li>
</ul>
<ul class="parameter">
  <li class="param-required-false">status : String
    <br/>Updated status of the pet
  </li>
</ul>
